

.aboutContainer, .Self {
    min-width: 285px;
    width: 15vw;
    height: auto;
    margin: auto;

}
.SectionHeader {
        color: #a5d7f5;
        font-family: 'Rock Salt', cursive;
        font-size: 3em;
        text-align: center;
        margin-top: 5vh;
        
        
    }

.Paragraph {
    min-width: 285px;
    width: 15vw;
    color: white; 
    font-size: 14pt;
}



